<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                      <img src="imgs/error.jpg" alt="sid" class="img-fluid" title="Siddharth Mathura">
                    </figure>
                    <p>Welcome to Weather Web</p>
                        <h1> {{errorMsg}} </h1>
                        <a href="/"><button>Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
{{>footer}} 
</html>